<app-navbar [usuarioId]="usuarioId"></app-navbar>

    <div class="container">
       
       
            <div class="card1" >
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/pedidos', usuarioId]" class="btn btn-warning" style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px;"><i class="bi bi-bell-fill"></i> Pedidos</a>
                </div>
              </div>

              <div class="card2" >
                <div class="card-body" style="text-align:center; "> 
                  <a [routerLink]="['/manufacturados', usuarioId]" class="btn btn-primary" style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px;"><i class="bi bi-egg-fried"></i> Manufacturados</a>
                </div>
              </div>
      
    </div>




