<app-navbar [usuarioId]="usuarioId"></app-navbar>


<button backButton class="btn btn-danger p-2 m-2 b-2 y-2" (click)="volver()"><i class="bi bi-arrow-left-square"></i>  volver</button>


<div class="card bg-light py-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form class="row g-3">
            <div class="form-group">
                <label for="denominacion" class="form-label">Denominacion
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!manufacturado.denominacion">
                        *Ingrese un valor| *Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="manufacturado.denominacion" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="text" name="denominacion" class="form-control" id="denominacion"
                    [(ngModel)]="manufacturado.denominacion">
                <div class="alert alert-danger" *ngIf="error?.denominacion">
                    {{ error.denominacion }}
                </div>
                
            </div>
            <div class="form-group">
                <label for="precioVenta">Precio Venta
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!manufacturado.precioVenta">
                        *Ingrese un valor numerico! | *Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="manufacturado.precioVenta" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="number" name="precioVenta" class="form-control" id="precioVenta"
                    [(ngModel)]="manufacturado.precioVenta">
                <div class="alert alert-danger" *ngIf="error?.precioVenta">
                    {{ error.precioVenta }}
                </div>
            </div>
            <div class="form-group">
                <label for="tiempoEstimadoCocina">Tiempo Estimado Cocina
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!manufacturado.tiempoEstimadoCocina">
                        *Ingrese un valor Numerico! | *Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="manufacturado.tiempoEstimadoCocina" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="number" name="tiempoEstimadoCocina" class="form-control" id="tiempoEstimadoCocina"
                    [(ngModel)]="manufacturado.tiempoEstimadoCocina">
                <div class="alert alert-danger" *ngIf="error?.tiempoEstimadoCocina">
                    {{ error.tiempoEstimadoCocina }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Upload Imagen
                    </label>
                    <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile01">
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!fotoSeleccionada && !manufacturado.imagen">
                        *Ingrese una Foto| *Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="fotoSeleccionada || manufacturado.imagen" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </div>
                <img *ngIf="manufacturado.imagen" [src]="formatImage(manufacturado.imagen)"
                    class="img-thumbnail rounded" style="width: 250px; cursor:pointer;"> 
            </div>

            <div class="dropdown py-3">
                
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Rubro: {{manufacturado.rubroGeneral?.denominacion}}
                </button>
                <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!manufacturado.rubroGeneral">
                    *Seleccione un rubro| *Obligatorio
                </a>
                <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="manufacturado.rubroGeneral" style="color: rgb(255, 255, 255);">
                    ✔
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li *ngFor="let rubro of rubrosGenerales">
                        <a class="dropdown-item" (click)="asignarRubro(rubro)">{{rubro.denominacion}}</a>
                    </li>

                </ul>
            </div>

            <div class="card p-2 m-2 b-2 y-2 bg-secondary border-dark ">
                <div class="card p-2 m-2 b-2 y-2 border-dark mb-3">
                    <div class="card-header border-dark mb-3">
                        <h3>Crear Detalle</h3>

                    </div>

                    <div class="dropdown py-3">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Insumo {{articuloInsumo?.denominacion}}
                        </button>
                        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!articuloInsumo">
                            *Ingrese un valor| *Obligatorio
                        </a>
                        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="articuloInsumo" style="color: rgb(255, 255, 255);">
                            ✔
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li *ngFor="let insumo of articulosInsumos">
                                <a class="dropdown-item" (click)="asignarInsumo(insumo)">{{insumo.denominacion}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!detalleArticuloManufacturado.cantidad">
                            *Ingrese un valor numerico! | *Obligatorio
                        </a>
                        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="detalleArticuloManufacturado.cantidad" style="color: rgb(255, 255, 255);">
                            ✔
                        </a>
                        <input type="number" name="cantidad" class="form-control" id="cantidad"
                            [(ngModel)]="detalleArticuloManufacturado.cantidad">
                    </div>
                    <div class="form-group">
                        <label for="unidadMedida">Unidad de Medida</label>
                        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!detalleArticuloManufacturado.unidadMedida">
                            *Ingrese un valor| *Obligatorio
                        </a>
                        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="detalleArticuloManufacturado.unidadMedida" style="color: rgb(255, 255, 255);">
                            ✔
                        </a>
                        <input type="text" name="unidadMedida" class="form-control" id="unidadMedida"
                            [(ngModel)]="detalleArticuloManufacturado.unidadMedida">
                    </div>
                    <button class="btn btn-success" (click)="asignarDetalle()">
                        Crear Detalle
                    </button>
                </div>

                <div class="card p-2 m-2 b-2 y-4 border-dark mb-3">
                    <div class="card-header border-dark mb-3">
                        <h3>Lista de detalles del Articulo Manufacturado</h3>
                    </div>
                    <div class="card p-2 m-2 b-2 y-2 border-primary mb-3"
                        *ngFor="let detalle of manufacturado.articuloManofacturadoDetalle">
                        <div *ngIf="!detalle.fechaBaja" class="card p-2 m-2 b-2 y-2">

                            <div class="card-body">
                                <p>Cantidad: {{detalle.cantidad}}</p>
                                <p>Unidad de Medida: {{detalle.unidadMedida}}</p>
                                <p>Insumo: {{detalle.articuloInsumo?.denominacion}}</p>
                            </div>
                            <button class="btn btn-danger" (click)="eliminarDetalle(detalle)">
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col text-center">

                <button type="button" class="btn btn-primary align-items-center" style="height: 130px; width: 270px; left: auto; font-size: 50px;"
                (click)="manufacturado.id? editarConFoto(): crearConFoto()">
                {{ manufacturado.id? 'Editar': 'Crear' }}
                <i class="bi bi-eject-fill"></i>
                </button>
            </div>

            

        </form>
    </div>
</div>
