<app-navbar [usuarioId]="usuarioId"></app-navbar>
<div>

    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
          Mostrar
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" onclick="javascript:console.log( $(event.target).data('mode'))">
          <a class="dropdown-item" data-mode="mode1" (click)="mostrarEstado(1)">Pendientes</a>
          <a class="dropdown-item " data-mode="mode2" (click)="mostrarEstado(2)">En proceso</a>
          <a class="dropdown-item" data-mode="mode3" (click)="mostrarEstado(3)">Terminados</a>
          <a class="dropdown-item" data-mode="mode4" (click)="mostrarEstado(4)">Todos</a>
        </div>
      </div>

      
    <button backButton class="btn btn-danger" (click)="volver()" style="float: right"><i class="bi bi-arrow-left-square"></i> volver</button>

    <body *ngFor="let pedido of Pedidos">
        <a *ngIf="(pedido.estado)===(mostrar) || (mostrar)===4 && (pedido.estado)!=0 && (pedido.estado)!=5 && (pedido.tipoEnvio)!=3 && (pedido.tipoEnvio)!=4 && (pedido.tipoEnvio)!=5" >
        <a *ngIf="asignarEstado(pedido)"></a>
        <div class="card text-white bg-dark border-light p-2 m-2 b-2 py-2">
        <tr>
            <h4>Número de pedido: {{pedido.id}}</h4>
        </tr>
        <tr>
            <h5>Total: {{pedido.total}}</h5>
        </tr>
        <tr>
          <a>Detalles:</a>
          <a *ngFor="let articulo of pedido.detallePedido">
            <a *ngIf="articulo.articuloManofacturado">
             <br>*{{articulo.articuloManofacturado?.denominacion}}
            </a>
            <a *ngIf="articulo.articuloInsumo">
              <br>*{{articulo.articuloInsumo?.denominacion}}
             </a>
          </a>
        </tr>
        <tr *ngIf="(mostrar)!=4">
            <a class="badge bg-primary p-2 m-2 b-2 py-2">Estado: {{estado}}</a>
        </tr>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle p-2 m-2 b-2 py-2" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                  Cambiar estado
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" onclick="javascript:console.log( $(event.target).data('mode'))">
                  <a class="dropdown-item" data-mode="mode1" (click)="cambiarEstado(pedido,1)">Pendiente</a>
                  <a class="dropdown-item " data-mode="mode2" (click)="cambiarEstado(pedido,2)">En proceso</a>
                  <a class="dropdown-item" data-mode="mode3" (click)="cambiarEstado(pedido,3)">Terminado</a>
                </div>
              </div>
        </td>
      </div>
    </a>
    </body>

</div>
