<app-navbar *ngIf="usuarioId && !adminId" [usuarioId]="usuarioId"></app-navbar>
<app-navbar *ngIf="adminId && usuarioId"  [adminId]="adminId"></app-navbar>
<div class="card text-white bg-primary p-4 b-5 m-4">
    <div class="card text-white bg-secondary mb-3">

        <h3>Credenciales del usuario</h3>
    </div>
    <div class="card-body">
        <label for="staticEmail" class="col-sm-2 col-form-label" >E-Mail</label>
        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!usuario.usuario && usuarioId">
            *
        </a>
        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="usuario.usuario" style="color: rgb(255, 255, 255);">
            ✔
        </a>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUser" [(ngModel)]="usuario.usuario">
            <div class="alert alert-danger" *ngIf="error && error.usuario">
                {{error.usuario}}
            </div>
            
        </div>
    </div>

    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!usuario.clave && usuarioId">
            *
        </a>
        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="usuario.clave" style="color: rgb(255, 255, 255);">
            ✔
        </a>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword" [(ngModel)]="usuario.clave">
            <div class="alert alert-danger" *ngIf="validador4">
                El campo contraseña no puede estar vacío
            </div>

        </div>
        
    </div>

    <div class="card text-white bg-secondary mb-3">
        <h3>Datos del usuario</h3>
    </div>

    <div class="card-body">
        <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!cliente.nombre && usuarioId">
            *
        </a>
        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="cliente.nombre" style="color: rgb(255, 255, 255);">
            ✔
        </a>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNombre" [(ngModel)]="cliente.nombre">
            <div class="alert alert-danger" *ngIf="validador1">
                El campo nombre no puede estar vacío
            </div>
        </div> 
    </div>

    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Apellido</label>
        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!cliente.apellido && usuarioId">
            *
        </a>
        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="cliente.apellido" style="color: rgb(255, 255, 255);">
            ✔
        </a>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputApellido" [(ngModel)]="cliente.apellido"> 
            <div class="alert alert-danger" *ngIf="validador2">
                El campo apellido no puede estar vacío
            </div>

        </div> 
    </div>


    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Telefono</label> 
        <a class="badge bg-danger p-2 m-2 b-2 py-2" *ngIf="!cliente.telefono && usuarioId">
            *
        </a>
        <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="cliente.telefono" style="color: rgb(255, 255, 255);">
            ✔
        </a>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputTelefono" [(ngModel)]="cliente.telefono">
            <div class="alert alert-danger" *ngIf="validador3">
                El campo telefono no puede estar vacío
            </div>
        </div>
    </div>
   

    <div class="card text-white bg-secondary mb-3">
        <h3>Datos del domicilio</h3>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Calle</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCalle" [(ngModel)]="domicilio.calle">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nro. Domicilio</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputNro" [(ngModel)]="domicilio.numero">
        </div>

    </div>
    <div class="card-body">
        <label for="inputPassword" class="col-sm-2 col-form-label">Localidad</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLocalidad" [(ngModel)]="domicilio.localidad">
        </div>

    </div>
    <div *ngIf="adminId" class="dropdown">
        <button class="btn btn-dark dropdown-toggle b-2 m-2" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#fffffffd;">
          Seleccionar Rol: {{usuario?.rol}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="setearRol('user')">Usuario</a></li>
          <li><a class="dropdown-item" (click)="setearRol('cocinero')">Cocinero</a></li>
          <li><a class="dropdown-item" (click)="setearRol('cajero')">Cajero</a></li>
          <li><a class="dropdown-item" (click)="setearRol('delivery')">Delivery</a></li>
          <li><a class="dropdown-item" (click)="setearRol('admin')">Admin</a></li>
        </ul>
    </div>
    <button *ngIf="!usuarioId" type="button" class="btn btn-warning"  (click)="registrar()" routerLinkActive="active">REGISTRAR!</button>
    <button *ngIf="usuarioId" type="button" class="btn btn-success"  (click)="actualizar()" routerLinkActive="active">ACTUALIZAR!</button>
</div>








