<app-navbar [usuarioId]="usuarioId"></app-navbar>

<body>
    <div class="card m-4">
        <div class="card-body">

            <title>Pueba mercadopago!</title>
            <title>Bienvenido!</title>
            <h4>Elija su metodo de pago!</h4>
             
            <h1 *ngIf="usuarioId!=2">
            <button class="btn btn-info m-4 p-4" style="font-size: 2rem;" (click)="mpCheckout()">
                <i class="bi bi-cash-coin" style="font-size: 2rem;"></i>
                MercadoPago
            </button>
            </h1>

            <button class="btn btn-warning m-4 p-4" (click)="metodoPagoContadoRetiroLocal()" style="font-size: 2rem;">
                <i class="bi bi-wallet2" style="font-size: 2rem;"></i>
                Contado Retiro en el Local
            </button>
        </div>
    </div>
</body>

