<app-navbar [usuarioId]="usuarioId" [articulosManofaturadosCarrito]="articulosManofaturadosCarrito"
    [articuloInsumoCarrito]="articuloInsumoCarrito">    
</app-navbar>
<nav class="navbar navbar-dark bg-dark">
    <div class="col text-center">

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            
        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" style="color: rgb(255, 255, 255);" for="btnradio4" (click)="infoBar(1)">Ubicacion</label>
    
        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
        <label class="btn btn-outline-primary" style="color: rgb(255, 255, 255);" for="btnradio5" (click)="infoBar(2)">Horario de Atencion</label>
    
        <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
        <label class="btn btn-outline-primary" style="color: rgb(255, 255, 255);" for="btnradio6" (click)="infoBar(3)">Contacto</label>
    
        <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
        <label class="btn btn-outline-primary" style="color: rgb(255, 255, 255);" for="btnradio7" (click)="infoBar(4)">Info Adicional</label>
    
        <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
        <label class="btn btn-outline-primary" style="color: rgb(255, 255, 255);" for="btnradio9" (click)="infoBar(5)">Info Del Local</label>
    
        </div>
    </div>
  </nav>

<form class="d-flex" style="float: right;">
    
    <input class="form-control m-5"  name="filterPost" type="search" placeholder="Buscar artículo" aria-label="Search"  [(ngModel)]="
    filterPost" style=" width: 220px;">
</form>


<ul class="nav justify-content-center">
</ul>

<body class="container py-2">

    <h5 *ngIf="abierto" style="color:orange;">{{labelHorario}}</h5>
    <h5 *ngIf="!abierto" style="color:orange;">{{labelHorario}}</h5>

    <table className="table">

        <tbody>
            <div class="row">

                <body class="card text-white bg-dark p-2 m-2 b-2 py-2 border-light"  *ngFor="let articulo of articulosManofaturados | filter:filterPost">

                    <div>

                        <tr>
                            <td>
                                <div>
                                    <!---img class="card-img-top img-fluid" style="width: 200px; height: 150px;" src="assets/images/{{articulo.imagen}}"--->
                                <img *ngIf="articulo.imagen" [src]="formatImage(articulo.imagen)"
                                    class="img-thumbnail rounded p-2 m-2 b-2 py-2" style="width: 250px; cursor:pointer;">
                                <!-- <img src="/src/assets/images/{{articulo.imagen}}"  style="max-height: 150px;"> -->
                            </div>
                        </td>

                        <td>
                        <tr>
                            <h5>{{articulo.denominacion}}</h5>
                        </tr>
                        <tr>
                            <h4>
                                $ {{articulo.precioVenta}}
                                
                            </h4>
                        </tr>


                        </td>
                        
                        </tr>
                        <td>
                            <div *ngIf="verificarStockArtManuf(articulo) == true">

                                <button *ngIf="abierto" type="button" class="btn btn-success p-2 m-2 b-2 py-2"
                                (click)="almacenarArticulosManofacturadosSeleccionados(articulo.id)"
                                routerLinkActive="active" style="font-size: 17px;">
                                Agregar al carrito <i class="bi bi-cart4"></i>
                                </button>
                                
                                <button *ngIf="abierto" type="button" class="btn btn-warning p-2 m-2 b-2 py-2"
                                (click)="verDetalle(articulo)"
                                routerLinkActive="active" style="font-size: 17px;">
                                Ver Detalle <i class="bi bi-border-width"></i>
                                </button>
                            </div>
                            <div *ngIf="verificarStockArtManuf(articulo) == false">
                                <h3>
                                    No hay Stock de este producto!
                                </h3>
                            </div>
                            <h5 *ngIf="!abierto"> El local esta cerrado, no se pueden hacer pedidos!</h5>
                            
                        </td>
                    
                    </div>
                </body>


                <body class="card text-white bg-dark p-2 m-2 b-2 py-2 border-light" *ngFor="let articulo2 of articulosInsumoNoEsInsumo | filter:filterPost">

                    <tr>
                        <td>
                            <div>

                            </div>
                        </td>

                        <td>
                    <tr>
                        <h5>{{articulo2.denominacion}}</h5>
                    </tr>
                    <tr>
                        <h4>
                            ${{articulo2.precioVenta}}

                        </h4>
                    </tr>
                    <tr>
                        <a class="badge bg-primary p-2 m-2 b-2 py-2">
                            Bebida

                        </a>
                    </tr>


                    </td>

                    </tr>
                    <td>
                        <div *ngIf="verificarStockArtInsumo(articulo2) == true">

                            <button *ngIf="abierto" type="button" class="btn btn-success p-2 m-2 b-2 py-2"
                            (click)="almacenarArticulosInsumoSeleccionados(articulo2.id)" 
                            routerLinkActive="active" style="font-size: 17px;">
                            Agregar al carrito <i class="bi bi-cart4"></i>
                            </button>
                        </div>
                        <div *ngIf="verificarStockArtInsumo(articulo2) == false">
                            <h3>No hay Stock de este producto!</h3>
                        </div>
                        <h5 *ngIf="!abierto"> El local esta cerrado, no se pueden hacer pedidos!</h5>

                    </td>

                </body>

                <!-- CARRUSEL -->

                <section id="carrusel">
                    <div class="contenedor carrusel" style=" padding: 30px;">



                        <div id="carrusel-home" class="carousel slide" data-bs-ride="carousel" >
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carrusel-home" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carrusel-home" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carrusel-home" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carrusel-home" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/images/fondo1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/fondo2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/fondo3.jpg" class="d-block w-100" alt="...">
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-home"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carrusel-home"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                    </div>
                </section>