<app-navbar [usuarioId]="usuarioId"></app-navbar>

 
        
            <div class="container">

              <h1 class="card1" >
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/entrantes', usuarioId]" class="btn btn-warning" style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px;"><i class="bi bi-bell-fill"></i> Pedidos Entrantes</a>
                </div>
              </h1>

              <h1 class="card2">
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/listos', usuarioId]" class="btn btn-success" style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px;"><i class="bi bi-check2-circle"></i>Pedidos Listos</a>
                </div>
              </h1>

              <h1 class="card3">
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/',usuarioId,'factura','form']" class="btn btn-secondary" style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px;"><i class="bi bi-clipboard"></i> Generar Factura</a>
                </div>
              </h1>

              <h1 class="card4">
                <div class="card-body" style="text-align:center;"> 
                  <a [routerLink]="['/','home',2]" class="btn btn-primary" style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px;"><i class="bi bi-cart3"></i> Crear pedido</a>
                </div>
              </h1>
            </div>
           
              
        