<app-navbar [usuarioId]="usuarioId"></app-navbar>
<div>

    <button backButton class="btn btn-danger" (click)="volver()" style="float: left;"><i class="bi bi-arrow-left-square"></i> Volver</button>

    <body class="card text-dark bg-white m-2 b-2">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Terminados</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Retiro</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Entrega</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <a *ngFor="let pedido of Pedidos">
                    <a *ngIf="(pedido.estado)===(3) && (pedido.tipoEnvio)===(1) || (pedido.estado)===(3) && (pedido.tipoEnvio)===(2)">
                        <div class="card text-white bg-dark m-2 b-2">
                        <a *ngIf="asignarEstado(pedido)"></a>
                        <tr>
                            <a>Número de pedido: {{pedido.id}}</a>
                        </tr>
                        <tr>
                            <a>Total: {{pedido.total}}</a>
                        </tr>
                        <tr>
                            <a>Detalles:</a>
                            <a *ngFor="let articulo of pedido.detallePedido">
                                <a *ngIf="articulo.articuloManofacturado">
                                    <br>*{{articulo.articuloManofacturado.denominacion}}
                                </a>
                                <a *ngIf="articulo.articuloInsumo">
                                    <br>*{{articulo.articuloInsumo.denominacion}}
                                </a>
                            </a>
                        </tr>
                        <tr>
                            <a style="color: green;">Estado: {{estado}}</a>
                        </tr>
                        <td><button class="btn btn-success mx-2" style="float: right"
                            (click)="confirmar(pedido)">aceptar</button>
                        
                        <button class="btn btn-info mx-2" style="float: right" (click)="generatePdf(pedido)">Ver
                            Factura</button>
                        <button class="btn btn-warning mx-2" style="float: right"
                            [routerLink]="['/factura/form/',pedido?.factura?.id]">Editar Factura</button>
                        <button class="btn btn-danger mx-2" style="float: right"
                            (click)="eliminarFactura(pedido)">Eliminar Factura</button>
                        </td>
                        </div>
                    </a>
                </a>
            </div>





            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <a *ngFor="let pedido of Pedidos">
                    <a *ngIf="(pedido.tipoEnvio)===(3) && (pedido.estado)===(3)">
                        <div class="card text-white bg-dark m-2 b-2">
                        <tr>
                            <a>Número de pedido: {{pedido.id}}</a>
                        </tr>
                        <tr>
                            <a>Total: {{pedido.total}}</a>
                        </tr>
                        <tr>
                            <a>Detalles:</a>
                            <a *ngFor="let articulo of pedido.detallePedido">
                                <a *ngIf="articulo.articuloManofacturado">
                                    <br>*{{articulo.articuloManofacturado.denominacion}}
                                </a>
                                <a *ngIf="articulo.articuloInsumo">
                                    <br>*{{articulo.articuloInsumo.denominacion}}
                                </a>
                            </a>
                        </tr>
                        <tr>
                            <a style="color: green;">Estado: Esperando su retiro</a>
                        </tr>
                        <td>
                        <button class="btn btn-info mx-2" style="float: right" (click)="generatePdf(pedido)">Ver
                            Factura</button>
                        <button class="btn btn-warning mx-2" style="float: right"
                            [routerLink]="['/factura/form/',pedido?.factura?.id]">Editar Factura</button>
                        <button class="btn btn-danger mx-2" style="float: right"
                            (click)="eliminarFactura(pedido)">Eliminar Factura</button>

                        <button class="btn btn-success" style="float: right" (click)=" cambiarEstado(pedido,6)" >Retirado</button>

                        </td>
                        </div>
                    </a>
                </a>

            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                <a *ngFor="let pedido of Pedidos">
                    <a *ngIf="(pedido.tipoEnvio)===(4) && (pedido.estado)===(3)">
                        <div class="card text-white bg-dark m-2 b-2">
                        <tr>
                            <a>Número de pedido: {{pedido.id}}</a>
                        </tr>
                        <tr>
                            <a>Total: {{pedido.total}}</a>
                        </tr>
                        <tr>
                            <a>Detalles:</a>
                            <a *ngFor="let articulo of pedido.detallePedido">
                                <a *ngIf="articulo.articuloManofacturado">
                                    <br>*{{articulo.articuloManofacturado.denominacion}}
                                </a>
                                <a *ngIf="articulo.articuloInsumo">
                                    <br>*{{articulo.articuloInsumo.denominacion}}
                                </a>
                            </a>
                        </tr>
                        <tr>
                            <a style="color: green;">Estado: Esperando su entrega</a>
                        </tr>
                    
                    </div>
                    </a>
                </a>


            </div>
        </div>
    </body>

</div>