<app-navbar [adminId]="adminId"></app-navbar>    
<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button backButton class="btn btn-danger my-2" (click)="volver()"><i class="bi bi-arrow-left-square"></i>  volver</button>
        <form>
            <div class="form-group">
                <label for="denominacion">Denominacion
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.denominacion">
                        *Ingrese un valor | * Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.denominacion" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="text" name="denominacion" class="form-control" id="denominacion" 
                [(ngModel)]="insumo.denominacion">
                <div class="alert alert-danger" *ngIf="error?.denominacion">
                  {{ error.denominacion }}
                </div>
            </div>
            <div class="form-group">
                <label for="precioCompra">Precio Compra
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.precioCompra">
                        *Ingrese un valor | * Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.precioCompra" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="number" name="precioCompra" class="form-control" id="precioCompra" 
                [(ngModel)]="insumo.precioCompra">
                <div class="alert alert-danger" *ngIf="error?.precioCompra">
                    {{ error.precioCompra}}
                </div>
            </div>
            <div class="form-group">
                <label for="precioVenta">Precio Venta
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.precioVenta">
                        *Ingrese un valor | * Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.precioVenta" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="number" name="precioVenta" class="form-control" id="precioVenta" 
                [(ngModel)]="insumo.precioVenta">
                <div class="alert alert-danger" *ngIf="error?.precioVenta">
                    {{ error.precioVenta }}
                </div>
            </div>
            <div class="form-group">
                <label for="stockActual">Stock Actual
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.stockActual">
                        *Ingrese un valor | * Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.stockActual" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="number" name="stockActual" class="form-control" id="stockActual" 
                [(ngModel)]="insumo.stockActual">
                <div class="alert alert-danger" *ngIf="error?.stockActual">
                    {{ error.stockActual }}
                </div>
            </div>
            <div class="form-group">
                <label for="stockMinimo">Stock Minimo
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.stockMinimo">
                        *Ingrese un valor | * Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.stockMinimo" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="number" name="stockMinimo" class="form-control" id="stockMinimo" 
                [(ngModel)]="insumo.stockMinimo">
                <div class="alert alert-danger" *ngIf="error?.stockMinimo">
                    {{ error.stockMinimo }}
                </div>
            </div>
            <div class="form-group">
                <label for="unidadMedida">Unidad de medida
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.unidadMedida">
                        *Ingrese un valor | * Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.unidadMedida" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </label>
                <input type="text" name="unidadMedida" class="form-control" id="unidadMedida" 
                [(ngModel)]="insumo.unidadMedida">
                <div class="alert alert-danger" *ngIf="error?.unidadMedida">
                    {{ error.unidadMedida }}
                </div>
            </div>
            <div class="btn-group my-4">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                  Es insumo? {{insumo?.esInsumo}}
                </button>
                <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.esInsumo">
                    *Ingrese un valor | * Obligatorio
                </a>
                <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.esInsumo" style="color: rgb(255, 255, 255);">
                    ✔
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" onclick="javascript:console.log( $(event.target).data('mode'))">
                  <a class="dropdown-item" data-mode="mode1" (click)="setearInsumo(true)">Es insumo</a>
                  <a class="dropdown-item " data-mode="mode2" (click)="setearInsumo(false)">No es insumo</a>
                </div>
            </div>
            <div>
                <h5>Rubro: </h5>
                <div class="dropdown py-3" >
                    
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Rubro: {{insumo.rubroArticulo?.denominacion}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        
                        <li *ngFor="let rubro of rubros">
                            <a class="dropdown-item" (click)="asignarRubro(rubro)">{{rubro.denominacion}}</a>
                        </li>
                    </ul>
                    <a class="badge bg-danger p-2 m-2 b-2 py-2" style="color: black;" *ngIf="!insumo.rubroArticulo">
                        *Ingrese un valor | * Obligatorio
                    </a>
                    <a class="badge bg-transparent p-2 m-2 b-2 py-2" *ngIf="insumo.rubroArticulo" style="color: rgb(255, 255, 255);">
                        ✔
                    </a>
                </div>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-primary align-items-center" style="height: 130px; width: 270px; left: auto; font-size: 50px;" 
                (click)="insumo.id? editar(): crear()">
                {{ insumo.id? 'Editar': 'Crear' }}
                <i class="bi bi-eject-fill"></i>
                </button>
           
            </div>
        </form>
    </div>
</div>
